<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>demo</title>
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_815285_8m0ee0nqlyr.css">
  </head>
  <body>
    <div id="lay-main" v-cloak>
      <div class="lay-init">
        <a class="lay-avator">
          <img src="ava.jpg">
        </a>
        <textarea placeholder="写下你的评论..." v-model="commentText" @input="commenttopChange"></textarea>
        <div class="lay-submit" v-if="topcommentBtn">
          <a href="javascript:;" class="lay-commentBtn" @click="submitCommentTop">评论</a>
          <a href="javascript:;" class="lay-cancel" @click="cancelCommenttop">取消</a>
        </div>
      </div>
      <div class="lay-content" v-if="commentlist!=''">
        <div class="lay-title">
          <h3>{{comminIndex}} 条评论</h3>
        </div>
        <div class="lay-comment" v-for="(i,index) in commentlist" v-if="i.parentId==='0'">
          <div class="lay-personInfo">
            <a href="#" class="lay-person-avator">
              <img src="ava.jpg" alt="">
            </a>
            <div class="lay-comment-name">
              <h3 class="lay-comment-title">
                {{i.name}}{{comminIndex}}
              </h3>
              <p>{{i.floor}} 楼 · {{i.date}}</p>
            </div>
          </div>
          <div class="lay-comment-content">
            <p>{{i.content}}</p>
            <div class="lay-ztool">
              <a href="javascript:;">
                <i class="iconfont icon-dianzan1"></i>
                <span>赞</span>
              </a>
              <a href="javascript:;">
                <i class="iconfont icon-icon_reply"></i>
                <span @click="openReply(i)">回复</span>
              </a>
            </div>
            <div class="lay-zreply" v-if="i.replyShow">
              <textarea :placeholder="'回复 '+i.name" rows="5" v-model="replyText"></textarea>
              <div class="lay-submit">
                <a href="javascript:;" class="lay-commentBtn" @click="replyA(i)">评论</a>
                <a href="javascript:;" class="lay-cancel" @click="closeReply(i)">取消</a>
              </div>
            </div>
            <ul class="lay-zrelist">
              <li v-for="(j,dndex) in commentlist" v-if="j.parentId === i.id">
                <h5>{{j.name}}：@{{j.replyName}} {{j.content}}</h5>
                <p>
                  <span>{{j.date}} </span>
                  <a href="javascript:;">
                    <i class="iconfont icon-icon_reply"></i>
                    <span @click="openReply(j)">回复</span>
                  </a></p>
                  <div class="lay-zreply" v-if="j.replyShow">
                    <textarea :placeholder="'回复 '+j.name" rows="5" v-model="replyText"></textarea>
                    <div class="lay-submit">
                      <a href="javascript:;" class="lay-commentBtn" @click="replyB(j,i)">评论</a>
                      <a href="javascript:;" class="lay-cancel" @click="closeReply(j)">取消</a>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/main.js"></script>
